/*


*/

/* ---------------------------------------------
Table of contents
------------------------------------------------
01. font & reset css
02. reset
03. global styles
04. header
05. banner
06. features
07. testimonials
08. contact
09. footer

--------------------------------------------- */
/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900");
/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #23232b;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-weight: 700;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 15px;
  line-height: 30px;
  color: #fff;
}

img {
  width: 100%;
  overflow: hidden;
}

/* 
---------------------------------------------
Global Styles
--------------------------------------------- 
*/
html,
body {
  background: #23232b;
  font-family: 'Roboto', sans-serif;
}

section {

  margin-top: 120px;
  text-align: center;
}

.section-heading {
  position: relative;
  margin-top: 0px;
  margin-bottom: 80px;
  text-align: center;
}

.section-heading .line-dec {
  width: 100px;
  height: 2px;
  background-color: #7453fc;
  margin: 0 auto 30px auto;
}

@media (max-width: 767px) {
  .section-heading {
    position: relative;
    margin-left: -30px;
    margin-top: 0px;
    margin-bottom: 80px;
    text-align: center;
  }
}
/* 
---------------------------------------------
Pre-loader Style
--------------------------------------------- 
*/

.js-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #280158;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  z-index: 9999;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@-webkit-keyframes dot {
  50% {
      -webkit-transform: translateX(96px);
      transform: translateX(96px);
  }
}

@keyframes dot {
  50% {
      -webkit-transform: translateX(96px);
      transform: translateX(96px);
  }
}

@-webkit-keyframes dots {
  50% {
      -webkit-transform: translateX(-31px);
      transform: translateX(-31px);
  }
}

@keyframes dots {
  50% {
      -webkit-transform: translateX(-31px);
      transform: translateX(-31px);
  }
}

.preloader-inner {
  position: relative;
  width: 142px;
  height: 40px;
  background: transparent;
}

.preloader-inner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #8968ff;
  border-radius: 50%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: dot 2.8s infinite;
  animation: dot 2.8s infinite;
}

.preloader-inner .dots {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  -webkit-animation: dots 2.8s infinite;
  animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: #8968ff;
  border-radius: 50%;
}



/* 
---------------------------------------------
Header Style
--------------------------------------------- 
*/

.background-header {
  background-color: #e6deff !important;
  height: 70px!important;
  position: fixed!important;
  top: 0!important;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15)!important;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.header-area {
  background-color: transparent;
  position: absolute;
  height: 70px;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 100;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.header-area .main-nav {
  min-height: 80px;
  background: transparent;
  display: flex;
  background-color: #e6deff;
  padding: 15px 30px;
  border-radius: 50px;
}

.background-header .main-nav {
  padding: 0px;
  background-color: transparent;
}

.header-area .main-nav .logo {
  flex-basis: 30%;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .main-nav .logo img {
  width: 223px;
  margin-left: -15px;
}

.background-header .main-nav .logo {
  margin-top: 8px;
}

.background-header .main-nav .logo img {
  width: 180px;
}

.header-area .main-nav .nav {
  display: inline-flex;
  flex-basis: 70%;
  justify-content: flex-end;
  vertical-align: middle;
  text-align: right;
  margin-top: 15px;
  margin-right: 0px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .nav li {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}

.header-area .main-nav .nav li a {
  display: block;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  color: #2a2a2a;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: transparent;
  padding: 8px 15px;
  border-radius: 18px;
  letter-spacing: 1px;
}

.header-area .main-nav .nav li.has-sub ul.sub-menu li:last-child a:hover,
.background-header .main-nav .nav li.has-sub ul.sub-menu li:last-child a:hover {
  padding-left: 25px !important;
}

.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
  color: #e6deff;
  background-color: #7453fc;
}

.background-header .main-nav .nav li:hover a,
.background-header .main-nav .nav li a.active {
  color: #e6deff;
  opacity: 1;
}

.header-area .main-nav .nav li.has-sub {
  position: relative;
  padding-right: 15px;
}

.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 33px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 20px;
  display: none;
  
}

.background-header .main-nav .menu-trigger {
  top: 17px;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #7453fc;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #7453fc;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #7453fc;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #7453fc;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #7453fc;
}

.background-header .main-nav .menu-trigger.active span:before {
  background-color: #7453fc;
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #7453fc;
}

.background-header .main-nav .menu-trigger.active span:after {
  background-color: #7453fc;
}

.header-area.header-sticky {
  min-height: 70px;
}

.header-area.header-sticky .nav li a.active {
  color: #e6deff;
}

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-area .main-nav:before {
    display: none;
  }
}

@media (max-width: 992px) {
  .header-area {
    top: 0;
  }
  .header-area .main-nav {
    background-color: transparent;
    border-radius: 0px;
  }
  .header-area .main-nav .nav {
    height: auto;
    flex-basis: 100%;
  }
  .header-area .main-nav .logo {
    position: absolute;
    left: 30px;
    top: 15px;
  }
  .background-header .main-nav .logo {
    top: 0px;
  }
  .background-header .main-nav .border-button {
    top: 0px !important;
  }
  .header-area .main-nav .border-button {
    position: absolute;
    top: 15px;
    right: 70px;
  }
  .header-area.header-sticky .nav li a:hover,
  .header-area.header-sticky .nav li a.active {
    color: #7453fc!important;
    opacity: 1;
  }
  .header-area.header-sticky .nav li.search-icon a {
    width: 100%;
  }
  .header-area {
    background-color: #e6deff;
    padding: 0px 15px;
    height: 100px;
    box-shadow: none;
    text-align: center;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .header-area .container {
    padding: 0px;
  }
  .header-area .logo {
    margin-left: 0px;
  }
  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }
  .header-area.header-sticky .nav {
    margin-top: 85px !important;
    text-align: center;
  }
  .background-header.header-sticky .nav {
    margin-top: 70px !important;
  }
  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #fff !important;
    color: #1e1e1e !important;
  }
  .header-area .main-nav .nav li a:hover {
    background: #fff !important;
    color: #7453fc!important;
  }
  .header-area .main-nav .nav li.has-sub ul.sub-menu {
    position: relative;
    visibility: inherit;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    top: 0px;
    width: 100%;
    box-shadow: none;
    height: 0px;
    transition: all 0s;
  }
  .header-area .main-nav .nav li.submenu ul li a {
    font-size: 12px;
    font-weight: 400;
  }
  .header-area .main-nav .nav li.submenu ul li a:hover:before {
    width: 0px;
  }
  .header-area .main-nav .nav li.has-sub ul.sub-menu {
    height: auto;
  }
  .header-area .main-nav .nav li.has-sub:after {
    color: #3B566E;
    right: 30px;
    font-size: 14px;
    top: 15px;
  }
  .header-area .main-nav .nav li.submenu:hover ul, .header-area .main-nav .nav li.submenu:focus ul {
    height: 0px;
  }
}

/* 
---------------------------------------------
Popup
--------------------------------------------- 
*/


#whatsapp-popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  cursor: pointer;
  z-index: 999;
}

#whatsapp-popup img {
  width: 65px;
  height: auto;
  margin-left: 28px;
  border-radius: 0%;
  transition: width 0.3s, transform 0.3s;
}
#whatsapp-popup h1 {
  font-weight: 3;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  margin-top: 10px; /* Atur jarak dari gambar ke teks */
  margin-left: 20px;
}

#whatsapp-popup img:hover {
  width: 65px;
  height: auto;
  border-radius: 0%;
  filter: brightness(1.5); /* Efek glow saat hover */
  transform: scale(1.2);
}


/* 
---------------------------------------------
Banner Style
--------------------------------------------- 
*/

.main-banner {
  background-image: url(../images/banner-bg.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 240px;
  padding-bottom: 150px;
  background-color: #23232B;
}

.main-banner h6 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.main-banner h2 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  line-height: 66px;
  text-transform: uppercase;
}

.main-banner h2 strong {
  font-size: 50px;
  font-weight: 700;
  line-height: 66px;
  text-transform: uppercase;
  background: linear-gradient(-10deg, #405de6, #833ab4, #c13584, #c17635, #e1be30);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  /* Outline menggunakan text-stroke (beberapa browser modern) */
  -webkit-text-stroke: 0.5px rgb(255, 255, 255);
}



.main-banner p {
  margin-top: 20px;
}

.main-banner .buttons {
  margin-top: 30px;
  display: flex;
  justify-content: start;
}


.main-banner .border-button {
  margin-right: 15px;
}

.main-banner .owl-banner {
  margin-left: -50px;
  margin-top: -40px;
  margin-bottom: 0px;
}

.main-banner .owl-nav {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  bottom: -76px;
  text-align: center;
}

.main-banner .owl-nav .owl-prev {
  margin-right: 7.5px;
}

.main-banner .owl-nav .owl-next {
  margin-left: 7.5px;
}

.main-banner .owl-nav .owl-prev span,
.main-banner .owl-nav .owl-next span  {
  width: 46px;
  height: 46px;;
  line-height: 46px;
  font-size: 24px;
  display: block;
  color: #7453fc;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 1;
  transition: all .3s;
}

.main-banner .owl-nav .owl-prev span:hover,
.main-banner .owl-nav .owl-next span:hover {
  opacity: 1;
}

/* 
---------------------------------------------
Categories & Collections Style
--------------------------------------------- 
*/

.categories-collections {
  align-items: center;
  background-color: #23232b;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 10px;
  padding-bottom: 0;
  position: relative;
}


.layanan .item {
  background-color: #282b2f;
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 50px;
  border: 1px solid #404245;
  position: relative;
}

.layanan .item img {
  width: 90px;
  height: auto;
}


.layanan .item h4 {
  text-align: center;
  margin-top: 15px;
  font-size: 18px;
}

.layanan .text h4 {
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-top: 0px;
  line-height: 25px;
  text-align: center; /* Center align the text */
  font-weight: 10; /* Adjust font weight */
}
.layanan2 h2 {
  text-align: center;
  margin-top: 10px;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: #fff;
}

.layanan2 h2 em {
  color: #7453fc;
  font-style: normal;
}

@media (max-width: 767px) {
  .layanan .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Pusatkan elemen secara horizontal */
    align-items: center; /* Pusatkan elemen secara vertikal */
  }

  /* Sisanya tetap seperti sebelumnya */
  .layanan .item {
    justify-content: center;
    width: 140px;
    height: auto;
    text-align: center;
    margin-bottom: 20px;
  }

  .layanan .item img {
    width: 80px;
    height: auto;
  }

  .layanan .col-lg-2 {
    flex-basis: calc(50% - 20px);
  }

  .layanan .text h4 {
    font-size: 20px;
    color: rgb(194, 194, 194);
    margin-top: 0px;
    margin-bottom: -30px;
    padding: 0;
    line-height: 30px;
    text-align: center;
    font-weight: 10;
  }
}

/* 
---------------------------------------------
Categories & Collections Style
--------------------------------------------- 
*/

.categories .item {
  background-color: #282b2f;
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  border: 1px solid #404245;
  position: relative;
}




.categories .item img {
  width: 90px;
  height: auto;
}


.categories .item h4 {
  margin-top: 15px;
  font-size: 20px;
}

.categories .text h4 {
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-top: 0px;
  margin-top: 20px;
  margin-bottom: -30px;
  line-height: 25px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center; /* Center align the text */
  font-weight: 10; /* Adjust font weight */
}

@media (max-width: 767px) {

  .categories .row {
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .categories .col-lg-2 {
    flex-basis: calc(50% - 20px);
  }


  .categories .item img {
  width: 50px;
  height: auto;
  padding-left: 10px;
  }

  .categories .item h4 {
  font-size: 15px;
  }
}





.promo {
  margin-top: 40px;
  background-color: #23232b;
  background-position: center center;
  background-size: cover;
  padding: 0;
  position: relative;
}
.heading2 h2 {
  text-align: center;
  margin-bottom: 90px;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.heading2 h2 em {
  color: #7453fc;
  font-style: normal;
}
.collections {
  margin-top: 40px;
  margin-bottom: 40px;
}

.collections .item img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.collections .item .down-content {
  background-color: #282b2f;
  border: 1px solid #404245;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 30px;
}

.collections .item .down-content h4 {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 10px; /* Mengurangi margin untuk memberi ruang pada small-text */
  padding-bottom: 10px; /* Mengurangi padding untuk memberi ruang pada small-text */
  position: relative; /* Menetapkan posisi relatif untuk small-text */
}

/* ... CSS yang sudah ada ... */

.collections .item .down-content h4 .small-text {
  font-size: 14px; /* Ukuran font untuk small-text */
  font-weight: 8;
  color: #b6b6b6; /* Warna untuk small-text */
  position: relative; /* Menetapkan posisi absolut untuk small-text */
  bottom: 0; /* Menempatkan small-text di bagian bawah h4 */
  margin-top: 8px;
  line-height: 1.2; /* Sesuaikan dengan kebutuhan untuk mengatur tinggi baris */
  width: 100%; /* Lebarkan small-text agar memanfaatkan seluruh lebar h4 */
}

/* ... CSS yang sudah ada ... */


.collections .item {
  padding-bottom: 10px;
}

.collections .item span {
  color: #fff;
  display: inline-block;
  width: 48%;
  font-size: 15px;
}

.collections .item span strong {
  font-size: 18px;
}

.collections .item span.category {
  text-align: right;
}

.owl-collection .item .down-content span.hemat {
  text-align: center;
  display: block;
  margin-top: 18px;
  margin-left: 26%;
}

.owl-collection .item .down-content span.hemat strong {
  font-size: 28px; /* Sesuaikan ukuran font sesuai kebutuhan */
  color: #ff5e00; /* Sesuaikan warna font sesuai kebutuhan */
  text-decoration: none; /* Menghapus garis strikethrough pada teks tercoret */
}

.collections .owl-nav {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50px);
  text-align: center;
}

.collections .owl-nav .owl-prev {
  position: absolute;
  left: -23px;
}

.collections .owl-nav .owl-next {
  position: absolute;
  right: -23px;
}

.collections .owl-nav .owl-prev span,
.collections .owl-nav .owl-next span  {
  width: 46px;
  height: 46px;
  line-height: 46px;
  font-size: 24px;
  display: inline-block;
  color: #7453fc;
  background-color: #fff;
  border-radius: 50%;
  opacity: 1;
  transition: all .3s;
}

.collections .owl-nav .owl-prev span:hover,
.collections .owl-nav .owl-next span:hover {
  opacity: 1;
}

@media (max-width: 767px) {
  .heading2 h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    line-height: 36px;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
  }
  
  .heading2 h2 em {
    color: #7453fc;
    font-style: normal;
  }
}






/* CSS untuk Modal Popup */
.comingsoon {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.comingsoon .modal-content {
  position: absolute;
  top: 55%;
  left: 85%;
  transform: translate(-50%, -50%);
  padding: 0;
  border: none;
  text-align: center;
  background: none;
}

.comingsoon .modal-content h1 {
  color: #ff0000;
  font-size: 16px;
  position: fixed;
  left: 6%;
  top: 76%; /* Ubah nilai sesuai kebutuhan */
  transform: translate(-20%, 50%);
  text-align: center;
}
.comingsoon .modal-content h1 strong {
  font-size: 18px;
  color: #3cff56;
  font-weight: 500;
}
.popup-image {
  align-items: center;
  justify-content: center;
  width: 350px; /* Sesuaikan dengan ukuran yang diinginkan */
}

.comingsoon .close {
  display: block;
  margin-top: 40px;

}
.comingsoon .close img {
  margin-right: 72%;
  width: 30px; /* Sesuaikan dengan ukuran yang diinginkan */
  transition: width 0.3s, transform 0.3s;transition: width 0.3s, transform 0.3s;
}
.comingsoon .close img:hover {
  filter: brightness(1.5); /* Efek glow saat hover */
  transform: scale(1.1); /* Perubahan ukuran saat hover */
}
@media (max-width: 767px) {

  .comingsoon .modal-content {
    position: absolute;
    top: 53%;
    left: 67%;
    transform: translate(-50%, -50%);
    padding: 0;
    border: none;
    text-align: center;
    background: none;
  }

  .comingsoon .modal-content h1 {
    color: #ff0000;
    font-size: 16px;
    position: fixed;
    top: 70%; /* Ubah nilai sesuai kebutuhan */
    transform: translate(-20%, 50%);
    text-align: center;
  }
  .comingsoon .modal-content h1 strong {
    font-size: 18px;
    color: #3cff56;
    font-weight: 500;
  }

  .popup-image {
    align-items: center;
    justify-content: center;
    width: 250px; /* Sesuaikan dengan ukuran yang diinginkan */
  }

  .comingsoon .close img {
    margin-right: 130px;
    width: 30px; /* Sesuaikan dengan ukuran yang diinginkan */
    transition: width 0.3s, transform 0.3s;transition: width 0.3s, transform 0.3s;
  }
}



/* 
---------------------------------------------
Create NFT Style
--------------------------------------------- 
*/

.ulasan {
  background: linear-gradient(-10deg, #405ce657, #833ab46c, #c1358476, #c176355f, #e1be3057);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

.ulasan .section-heading .line-dec {
  margin-left: 0%;
  background-color: #fff;
}

.ulasan .main-button img {
  width: 0px;
}
.ulasan .section-heading {
  text-align: left;
  margin-bottom: 50px;
}

.ulasan .section-heading h2 {
  text-align: left;
  margin-top: 10px;
  line-height: 33px;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
}

.ulasan .item {
  margin-top: 30px;
  position: relative;
}


.ulasan .first-item:after {
  position: absolute;
  width: 1px;
  height: 95%;
  background-color: rgba(255, 255, 255, 0.2);
  content: '';
  right: 5px;
  top: 5%;
}

.ulasan .second-item .number {
  position: absolute;
  right: 0;
  top: -20px;
}

.ulasan .second-item:after {
  position: absolute;
  width: 1px;
  height: 95%;
  background-color: rgba(255, 255, 255, 0.2);
  content: '';
  right: 5px;
  top: 5%;
}

.item .icon {
  width: 150px;
  height: auto;
  display: inline-block;
  text-align: center;
  line-height: 62px;
  border-radius: 50%;
}

.ulasan .icon img {
  max-width: 600px;
}

.ulasan h4 {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.ulasan p {
  margin-right: 30px;
}

.ulasan .item a {
  color: #3CF;
}



/* 
---------------------------------------------
Currently Market Style
--------------------------------------------- 
*/


.aplikasi h2 {
  margin-top: 10px;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
}

.aplikasi h2 em {
  color: #7453fc;
  font-style: normal;
}

.aplikasi {
  background-color: #23232b;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 0;
  padding-bottom: 90px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aplikasi:after {
  width: 300px;
  height: 282px;
  position: absolute;
  bottom: 0;
  right: 30px;
  content: '';
}

.aplikasi img,
.aplikasi h4 {
  align-items: center;
  text-align: center;
  margin-left: 0;
  margin-top: 15px;
  font-size: 20px;
  transition: color 0.3s, text-shadow 0.3s; /* Menambahkan efek transisi untuk color dan text-shadow */
}

.aplikasi .item3 {
  display: flex; /* Menggunakan display flex untuk mengaktifkan Flexbox */
  justify-content: center;
  align-items: center; /* Pusatkan elemen secara vertikal */
}

.aplikasi .item3 img {
  width: 127px;
  height: auto;
  transition: width 0.3s, transform 0.3s;
}


.aplikasi .item3 img:hover {
  margin-left: 0;
  width: 130px;
  height: auto;
  filter: brightness(1.5); /* Efek glow saat hover */
  transform: scale(1.2); /* Memperbesar gambar dari sumbu tengah */
}

.aplikasi .item3 img:hover ~ h4,
.aplikasi h4:hover {
  text-shadow: 0 0 10px rgba(201, 51, 255, 0.8); /* Efek glow saat hover */
}

.aplikasi p {
  margin-right: 0px;
}




@media (max-width: 800px) {
  .aplikasi {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .aplikasi .section-heading {
    text-align: center;
  }

  .ulasan .section-heading .line-dec,
  .aplikasi .section-heading .line-dec {
    margin: 0 auto;
  }

  .aplikasi .item3 {
    display: flex; /* Menggunakan display flex untuk mengaktifkan Flexbox */
    justify-content: center;
    align-items: center; /* Pusatkan elemen secara vertikal */
  }

  .aplikasi .item3 img {
    margin-left: 0px;
    width: 127px;
    height: auto;
    transition: width 0.3s, transform 0.3s;
  }

  .aplikasi h4 {
    text-align: center;
    margin-left: 0;
    margin-top: 15px;
    font-size: 20px;
    transition: color 0.3s, text-shadow 0.3s; /* Menambahkan efek transisi untuk color dan text-shadow */
  }
}



/* 
---------------------------------------------
Q&A
--------------------------------------------- 
*/

.qa {
  background-color: #23232b;
  display: flex;
  padding-bottom: 80px;
}

.qa .container {
  display: flex;
  align-items: center; /* Center content vertically */
}

.sidebar {
  width: 30%;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar img {
  max-width: 550%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.content .section {
  margin-top: 0px;
  margin-left: 20px; /* Add margin for separation */
}

.content .section h2 {
  padding: 0;
  color: #8d4aea;
}

.content .section h2 strong{
  background: linear-gradient(-10deg, #405de6, #833ab4, #c13584, #c17635, #e1be30);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.content .section p {
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
  list-style-type: none;
  padding: 0;
  margin-right: 90px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.content .section ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  color: #fdd0ff;
  list-style-type: none;
  margin-bottom: 30px;
  padding: 0;
}

.content .section ul li {
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  .qa {
    display: flex;
    flex-direction: column; /* Stack elements vertically on small screens */
    align-items: center; /* Center the container horizontally */
    padding-bottom: 0px;
  }

  .qa .container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center the content horizontally */
  }

  .sidebar img {
    width: 350px; /* Make sure the image takes the full width of its container */
    height: auto;
    margin-top: 0px;
    margin-left: -138px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .content .section {
    margin-top: 20px;
    margin-left: 20px;
    padding-bottom: 100px;
  }
  .content .section p {
    text-align: left;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* 
---------------------------------------------
syarat
--------------------------------------------- 
*/

.syarat {
  background-color: #23232b;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 0;
}

.syarat .container {
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: space-between;
}

.syarat .sidebar {
  order: 2;
  width: 30%;
  padding: 20px;
  box-sizing: border-box;
}

.syarat .sidebar img {
  width: 350px;
  height: auto;
  border-radius: 10px;
  margin-right: 40px;
  margin-bottom: 10px;
}

.syarat .content {
  order: 1;
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.syarat .content .section {
  text-align: left;
  margin-top: 0px;
  margin-left: 100 0px; /* Add margin for separation */
}

.syarat .content .section h2 {
  color: #8d4aea;
  margin-bottom: 15px;
}

.syarat .content .section h2 strong{
  background: linear-gradient(-10deg, #405de6, #833ab4, #c13584, #c17635, #e1be30);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.syarat .content .section p {
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
  list-style-type: none;
  padding: 0;
  margin-left: 50px;
  margin-right: 0;
  margin-top: 10px;
  margin-bottom: 30px;
}

.syarat .content .section ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  color: #fdd0ff;
  list-style-type: none;
  margin-bottom: 30px;
  padding: 0;
}

.syarat .content .section ul li {
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  .syarat {
    display: flex;
    flex-direction: column; /* Stack elements vertically on small screens */
    align-items: center; /* Center the container horizontally */
    padding-bottom: 0px;
  }

  .syarat .container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center the content horizontally */
  }

  .syarat .sidebar {
    order: 1;
    width: 30%;
    padding: 20px;
    margin-top: 20px;
    box-sizing: border-box;
  }

  .syarat .content {
    order: 2;
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
  }

  .syarat .sidebar img {
    width: 300px; /* Make sure the image takes the full width of its container */
    height: auto;
    margin-top: 15px;
    margin-left: -110px; 
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .syarat .content .section {
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    padding-bottom: 100px;
  }
  .syarat .content .section p {
    text-align: left;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}



/* 
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
CSS HARGA (KHUSUS)
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/

.page-heading {
  background-image: url(../images/harga/banner-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 160px;
  text-align: center;
  background-color: #23232b;
  padding-bottom: 70px;
  
}



.page-heading h6 {
  background: linear-gradient(-10deg, #405de6, #833ab4, #c13584, #fb8b02, #ffcc00);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.page-heading h2 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  line-height: 66px;
  text-transform: uppercase;
}

.page-heading span {
  color: #8a75da;
  font-size: 15px;
}

.page-heading span a {
  color: #fff;
}


.featured-explore {
  margin-top: 60px;
  margin-bottom: -300px;
}

.featured-explore .owl-features {
  min-height: 100%;
}

.featured-explore .item .thumb {
  position: relative;
  overflow: hidden;
}

.featured-explore .owl-nav {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-23px);
  text-align: center;
}

.featured-explore .owl-nav .owl-prev {
  position: absolute;
  left: 30px;
}

.featured-explore .owl-nav .owl-next {
  position: absolute;
  right: 30px;
}

.featured-explore .owl-nav .owl-prev span,
.featured-explore .owl-nav .owl-next span  {
  width: 46px;
  height: 46px;
  line-height: 46px;
  font-size: 22px;
  font-weight: 700;
  display: inline-block;
  color: #7453fc;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all .3s;
}

.featured-explore .owl-nav .owl-prev span:hover,
.featured-explore .owl-nav .owl-next span:hover {
  opacity: 1;
}

/* Tambahkan gaya untuk tombol kecil */

.daftarharga {
  background-color: #23232B;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 90px;
  position: relative;
}

.harga .item {
  background-color: #373a3f;
  text-align: center;
  padding: 0;
  margin-bottom: 30px;
  border-radius: 20px;
  border: 1px solid #404245;
  position: relative;
}
.harga .item:hover {
 box-shadow: 0px 0px 10px #9d70b3;
}
 
.item.selected {
  background-color: #424242;
  box-shadow: 0px 0px 10px #ab92b7;
}


.harga .item img {
  width: 154px;
  height: auto;
  margin-bottom: 20px;
}


.calculator {
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
}

.calculator p {
  color: #787878;
  padding-bottom: 20px;
  text-align: center;
}

.calculator p em {
  font-size: 18px;
  color: #787878;
  padding-bottom: 20px;
  text-align: center;
}
.calculator h1 {
  padding-bottom: 20px;
  text-align: center;
}
.calculator h1 strong {
  color: #32a476;
  padding-bottom: 30px;
  text-align: center;
}

.calculator2 h1 {
  font-size: 30px;
  margin-top: 40px;
  padding-bottom: 0;
  text-align: center;
}
.calculator2 h1 strong {
  color: #32a476;
  padding-bottom: 30px;
  text-align: center;
}
/* Tambahan gaya untuk input dan output */
.order-input {
  font-size: 18px;
  text-align: center;
  padding: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 250px;
  height: 20px;
  border-radius: 90px;
  box-sizing: border-box;
}
@font-face {
  font-family: 'garamond'; /* Ganti 'Stoneyard' sesuai keinginan Anda */
  src: local('garamond'), url('../webfonts/garamond.ttf') format('truetype'); /* Ganti path sesuai dengan lokasi font di proyek Anda */
  font-style: normal;
}
.result-output {
  font-family: 'garamond', Arial, sans-serif;
  text-align: center;
  padding: 30px;
  background-color: #404245;
  border: 3px solid #98f1cd;
  border-radius: 90px;
  font-size: 42px;
  font-weight: 600;
  margin-top: 20px;
  margin-left: 300px;
  margin-right: 300px;
  color: #77d57b; /* Warna hijau untuk hasil positif */
}

.result-output.error {
  color: #ff0000; /* Warna merah untuk pesan kesalahan */
}

/* Menambahkan gaya animasi pada hasil */
.result-animation {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
.description-button .filters {
  margin-top: 20px;
}

.description-button .filters ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.description-button .filters li {
  cursor: pointer;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #ddd;
  border-radius: 5px;
}

.description-button .filters li.active {
  background-color: #4CAF50;
  color: white;
}



/* Gaya untuk tombol deskripsi */
.description-button {
  background-color: #525252;
  font-size: 14px;
  color: #fff;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: absolute;
  border-radius: 50px;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.description-button:hover {
  background-color: #2980b9;
}

/* Gaya untuk popup deskripsi */
.description-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 999;
  width: 500px; /* Sesuaikan lebar sesuai kebutuhan */
  text-align: left;
}

.description-popup p {
  text-align: center;
  color: #282b2f;
  margin-bottom: 10px;
  font-size: 21px;
  line-height: 1.5;
}

.description-popup ul li {
  color: #282b2f;
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 1.1;
  list-style-type: none; /* Menghapus default list style */
}

.description-popup ul li::before {
  content: "\2022"; /* Karakter untuk bullet point (misalnya, titik hitam kecil) */
  color: #282b2f; /* Warna ikon, sesuaikan jika perlu */
  display: inline-block;
  width: 1em; /* Sesuaikan lebar ikon jika perlu */
  margin-left: -1em; /* Menggeser ikon agar sejajar dengan teks */
}


.description-popup ul strong {
  text-align: center;
  color: #008550;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.1;
}

/* Gaya untuk tombol tutup pada popup */
.close-button {
  align-items: center;
  background-color: #e74c3c;
  color: #fff;
  font-size: 13px;
  border: none;
  border-radius: 50px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.close-button:hover {
  background-color: #c0392b;
}


@media (max-width: 767px) {

  .description-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
    width: 300px; /* Sesuaikan lebar sesuai kebutuhan */
    text-align: left;
  }
  
  .description-popup p {
    text-align: center;
    color: #282b2f;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 1.5;
  }
  
  .description-popup ul li {
    color: #282b2f;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.1;
  }
  
  .description-popup ul strong {
    text-align: center;
    color: #008550;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.1;
  }
  .calculator {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  /* Tambahan gaya untuk input dan output */
  .order-input {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    width: 250px;
    height: 10px;
    box-sizing: border-box;
  }

  .result-output {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 40px;
  }
  .calculator2 h1 {
    font-size: 27px;
    margin-top: 40px;
    padding-bottom: 0;
    text-align: center;
  }

  .harga .item {
    width: 140px;
    height: auto;
    text-align: center;
  }

  .harga .row {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .harga .col-lg-2 {
    flex-basis: calc(50% - 20px);
  }
  .harga .item img {
    width: 144px;
    height: auto;
  }

  .harga .text h4 {
    font-size: 20px;
    color: rgb(194, 194, 194);
    margin-left: -25px;
    margin-top: 0px;
    margin-bottom: -30px;
    padding: 0;
    line-height: 30px;
    text-align: center; /* Center align the text */
    font-weight: 10;
  }

}


/* 
---------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------PAKET HEMAT------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------
*/

.judul h1 {
  padding-bottom: 20px;
  text-align: center;
}

.judul h1 strong {
  color: #32a476;
  padding-bottom: 30px;
  text-align: center;
}
.pakethemat {
  background-color: #2c2c30;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 90px;
  position: relative;
}

.paket .item {
  background-color: #282b2f;
  text-align: center;
  padding: 0;
  margin-bottom: 30px;
  border-radius: 20px;
  border: 1px solid #404245;
  position: relative;
}
.paket .item:hover {
 box-shadow: 0px 0px 10px #9d70b3;
}
 
.item.selected {
  background-color: #424242;
  box-shadow: 0px 0px 10px #ab92b7;
}


.paket .item img {
  width: 154px;
  height: auto;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .paket .item {
    width: 140px;
    height: auto;
    text-align: center;
  }

  .paket .row {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .paket .col-lg-2 {
    flex-basis: calc(50% - 20px);
  }
  .paket .item img {
    width: 144px;
    height: auto;
  }

}
/* 
---------------------------------------------
step
--------------------------------------------- 
*/

.step-title {
  text-align: center;
  font-size: 44px;
  padding-top: 0;
  margin-top: 60px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 2px #405de6;
}
.step-title strong{
  color: #405de6;
  text-shadow: 2px 2px 2px #ffffff;
  
}
.step-container {
  display: contents;
  justify-content: center;
  width: 100%;
}

.step {
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0;
  text-align: center;
  flex: 1;
  margin-left: 0;
}


.step-number {
  display: inline-block;
  font-size: 54px;
  font-weight: bold;
  padding: 15px;
  color: transparent;
  text-shadow: 0 0 2px rgba(247, 255, 17, 0.8), 0 0 2px rgba(231, 255, 112, 0.8), 0 0 3px rgba(255, 255, 255, 0.8);
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
}

.step img {
  width: 200px;
  height: auto;
}


.step p {
  font-size: 17px;
  line-height: 20px;
  margin: 0;
  padding: 15px;
  color: #fff;
}

@media (max-width: 767px) {
  .step-title {
    font-size: 37px;
    margin-bottom: 50px;
  }
  .step-container {
    display: flex;
    flex-wrap: wrap; /* Penambahan flex-wrap untuk mengatur tata letak pada lebar layar kecil */
    justify-content: center;
    max-width: 600px;
    width: 100%;
  }
  .step {
      flex-basis: 100%; /* Mengubah lebar menjadi 100% pada layar kecil */
      margin-bottom: 20px; /* Menambahkan margin antar langkah pada layar kecil */
  }
  .step p {
    font-size: 16px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

/* 
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
AKHIR CSS HARGA (KHUSUS)
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/





/* 
---------------------------------------------
portofolio
--------------------------------------------- 
*/

.author-page {
  background-image: url(../images/dark-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 120px 0px 120px 0px;
  position: relative;
}

.author-page .author {
  display: flex;
}

.author-page .author h4 {
  margin-top: 60px;
  font-size: 20px;
  margin-left: 30px;
}

.author-page .author h4 a {
  font-size: 15px;
  color: #7453fc;
}

.author-page .right-info {
  background-color: #282b2f;
  border: 1px solid #404245;
  padding: 20px 30px;
  border-radius: 20px;
  margin-left: 100px;
}

.author-page .right-info .info-item {
  margin-bottom: 20px;
}

.author-page .right-info i {
  color: #7453fc;
  font-size: 22px;
}

.author-page .right-info h6 {
  font-size: 20px;
  color: #7453fc;
  margin-top: 4px;
}

.author-page .right-info h6 em {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  color: #fff;
}

.author-page .right-info h5 {
  font-size: 20px;
  color: #afafaf;
  margin-top: 10px;
}

.author-page .right-info .main-button a {
  width: 100%;
  text-align: center;
}

.author-page .section-heading {
  margin-top: 80px;
  text-align: left;
}

.author-page .section-heading .line-dec {
  margin-left: 0;
}

.author-page .item span.author {
  display: inline-flex;
  width: 100%;
}

.author-page .item span.author img {
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.author-page .item img {
  margin-top: -32px;
  position: relative;
  z-index: 1;
}

.author-page .item h4 {
  font-size: 20px;
  margin-top: 30px;
}

.author-page .item .line-dec {
  width: 100%;
  height: 1px;
  background-color: rgba(255,255,255,0.2);
  margin: 30px 0px;
}

.author-page .item {
  background-color: #282b2f;
  border: 1px solid #404245;
  padding: 30px;
  border-radius: 20px;
  position: relative;
  margin-bottom: 52px;
}

.author-page .item span {
  color: #fff;
  display: inline-block;
  font-size: 15px;
}

.author-page .item span strong {
  font-size: 20px;
}

.author-page .item span.category {
  text-align: right;
}

.author-page .item .main-button {
  margin-top: 20px;
  margin-bottom: -60px;
  text-align: center;
}


/* 
---------------------------------------------
Footer Style
--------------------------------------------- 
*/

footer {
  background: linear-gradient(132deg, rgb(38, 31, 66) 25%, rgb(53, 27, 80) 100%);
  text-align: center;
  margin-bottom: -300px;
  padding: 25px 0px;
}

footer h1 {
  font-size: 14px;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
  font-weight: 5;
  color: #fff;
}
footer p {
  color: #fff;
}

@media (max-width: 767px) {
  footer h1 {
    font-size: 14px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 5;
    color: #fff;
  }
}




/* 
---------------------------------------------
Responsive Style
--------------------------------------------- 
*/

body {
  overflow-x: hidden;
}

@media (max-width: 767px) {
  .top-seller .item {
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .main-banner {
    padding-top: 100px;
  }
  .main-banner .owl-banner {
    margin-left: 0px;
    margin-top: 80px;
    margin-bottom: 100px;
  }
  .main-banner .owl-nav .owl-next span  {
    margin-top: 0px;
  }

  .main-banner h2 {
    font-size: 46px;
  }
  .main-banner h2 strong {
    font-size: 46px;
  }

.currently-market img {
    width: 120px;
    height: auto;
    margin-left: 10%;
    filter: brightness(1); /* Normal brightness */
    transition: width 0.3s, transform 0.3s; /* Menambahkan efek transisi untuk width dan transform */
}

.currently-market h4 {
    margin-left: 0;
    font-size: 23px;
    margin-bottom: 50px;
}

.currently-market img:hover,
.currently-market img:hover ~ h4 {
    filter: brightness(1.5); /* Efek glow saat hover */
    text-shadow: 0 0 10px rgba(201, 51, 255, 0.8);
}

.currently-market img:hover {
    width: 120px;
    height: auto;
    margin-left: 10%; /* Mengurangi margin untuk membuat gambar membesar dari sumbu tengah */
    transform: scale(1.2); /* Memperbesar gambar dari sumbu tengah */
}
  .currently-market p {
    margin-right: 0px;
  }

  .ulasan .section-heading h2 {
    text-align: center;
    margin-top: 10px;
    margin-left: 25px;
    line-height: 33px;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
  }

  .ulasan .section-heading,
  .ulasan p {
    margin-right: 0px;
  }
  .ulasan .first-item:after,
  .ulasan .second-item:after,
  .ulasan .first-item .number,
  .ulasan .second-item .number {
    display: none;
  }
  .ulasan .item {
    text-align: center;
    margin-top: 45px;
  }

  .item-details-page .left-image {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .current-bid select {
    float: none;
  }
  .author-page .author {
    justify-content: center;
  }
  .author-page .right-info {
    margin-left: 0px;
    margin-top: 30px;
  }
}

@media (max-width: 1200px) {
  
}
